*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    text-decoration: none;
}

.cursor-circle {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.7;
    transform: translate(-50%, -50%); 
    transition: width 0.2s, height 0.2s;
}


.anime{
    opacity: 0;
    transition: all 2s;
    filter: blur(2px);
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.element1{
    filter: blur(50px);
    transition: all 3s ease;
}

.element2{
    filter: blur(50px);
}

.show1{
    filter: blur(0);
}  


nav{
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    transition: 3s;
}

.Navbar{
    display: flex;
    border-bottom: 1px solid #272727;
    color: #fff;
    background-color: #0f0f0f;
}

.Navbar .logo{
    padding: 20px 10px;
    margin: 0 90px;
    border-left: 1px solid#272727;
}

.Navbar .logo img{
    width: 160px;
}

.Navbar .menu-container {
    display: flex;
    justify-content: right;
    gap: 100px;
    width: 100%;
    align-items: center;
    padding: 0 20px;
}

.Navbar .menu-container .popup-text{
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    letter-spacing: 10px;
    color: orangered;
    padding-top: 15px;
    transition: 3s;
}

.Navbar .menu-container .popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.Navbar .menu-container .gradient {
    background-image: linear-gradient(45deg,#ffffff, #FF1493, #0f0f0f, #4B0082, #0f0f0f, #C71585, #8a09aa);
    background-size: 300% 300%;
    animation: gradientShift 10s  infinite;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.Navbar .menu-container .popup{
    background: rgba(0, 0, 0, 0.822) no-repeat center center / cover;
    width: 100%;
    height: 100%;
}

.Navbar .menu-container .popup-content {
    padding: 20px;
}

.Navbar .menu-container .close-btn {
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    letter-spacing: 10px;
    color: orangered;
    padding-top: 15px;
    float: right;
    margin-right: 12em;
    transition: 3s;
}

.Navbar .menu-container .popup-links{
    text-align: center;
    padding: 16em 0;
    transition: all 3s ease-in-out;
}

.Navbar .menu-container .popup-links a{
    text-decoration: none;
    font-weight: bold;
    font-size: 35px;
    margin-right: 30px;
    color: #fff;
}

.Navbar .menu-container .popup-links .hover-text{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.Navbar .menu-container .popup-links .hover-text .material-symbols-outlined{
    font-size: 30px;
    font-weight: bold;
    color: orangered;
    border: 1px solid #646464;
    padding: 5px 10px;
    border-radius: 5px;
}

.Navbar .menu-container img{
    width: 60px;
}

/* ====== SideBar ===== */
.sidebar{
    width: 91.2px;
    height: 100vh;
    text-align: center;
    padding-top: 22em;
    border-right: 1px solid #272727;
    position: fixed;
}

.sidebar .social-media{
    margin-bottom: 10px;
}

.sidebar .social-media a{
    color: #fff;
}

.sidebar .social-media i{
    transition: all 1000ms ease-in-out;
}

.sidebar .social-media i:hover {
    transform: scale(1.2);
}

.facebook-icon:hover {
    background-color: #3b5998;
    padding: 10px 10px;
    border-radius: 50px;
}

.instagram-icon:hover {
    background-color: #C13584;
    padding: 10px 10px;
    border-radius: 50px;
}

.youtube-icon:hover {
    background-color: #FF0000;
    padding: 10px 10px;
    border-radius: 50px;
}

.twitter-icon:hover {
    background-color: #1DA1F2;
    padding: 10px 10px;
    border-radius: 50px;
}
/* ====== End SideBar ===== */

/* ======= Home ====== */
.home-container {
background: url('../GTCreat8/Home.jpg') no-repeat center center / cover;
top: 0;
left: 0;
right: 0;
color: #fff;
transition: height 0.5s;
position: relative;
overflow: hidden;
}
    
.home{
background: rgba(0, 0, 0, 0.377) no-repeat center center / cover;
padding: 30px;
top: 0;
left: 0;
right: 0;
overflow: hidden;
transition: transform 0.5s;
}

.home .description{
    display: flex;
    justify-content: space-between;
    margin-top: 7em;
    padding: 0 120px;
    width: 100%;
    transition: all 3s;
}

.home .description .text{
    width: 60%;
    transition: all 2s;
}

.home .description .text h1:nth-child(1){
    font-weight: bolder;
    font-size: 60px;
    transition: all 2s;
}

.home .description .text h1:nth-child(2){
    font-size: 60px;
    font-style: italic;
    transition: all 2s;
}

.home .description .text h1:nth-child(3){
    font-size: 60px;
    transition: all 2s;
}

.home .description .text h1:nth-child(3) span{
    font-size: 60px;
    font-weight: bolder;
}

.home .description .text p{
    font-weight: 600;
    color: #ced0dd;
    letter-spacing: 1px;
    transition: all 3s;
}

.home .description .link{
    background-color: #fff;
    width: 150px;
    height: 150px;
    margin-top: 8em;
    padding-top: 38px;
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    border: 2px solid transparent;
    transition: all 1000ms ease-in-out;
}

.home .description .link h1 {
    font-weight: bolder;
    font-size: 15px;
    color: #0f0f0f;
    letter-spacing: 1px;
}

.home .description .link:hover {
    border: 2px solid #fff;
    transform: rotate(80deg);
    background-color: orangered;
    color: #fff;
}

.home .circular-text{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.home .circular-text text {
    fill: white;
    font-size: 33px;
    font-weight: bolder;
    text-transform: uppercase;
    font-variant-ligatures: none;
    letter-spacing: 6px;
    animation: rotate 25s linear infinite;
    transform-origin: 250px 250px;
    transition: all 3s;
}

.home .circular-text .icon{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.home .circular-text .material-symbols-outlined{
    font-size: 20px;
    font-weight: bold;
    color: orangered;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}

.home .circular-text svg{
    max-width: 28vh;
}

@keyframes rotate {
    to {
    transform: rotate(1360deg);
    }
}

.textcircle {
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
    transform-origin: 250px 250px;
}

.home .circular-text :hover .textcircle {
    transform: scale(1.2) rotate(90deg);
}

@media (max-width: 940px){
    .home .description{
        display: block;
    }

    .home .description .text{
        width: 100%;
    }

    .home .description .text h1:nth-child(1){
        font-size: 45px;
    }
    
    .home .description .text h1:nth-child(2){
        font-size: 45px;
    }
    
    .home .description .text h1:nth-child(3){
        font-size: 45px;
    }
    
    .home .description .text h1:nth-child(3) span{
        font-size: 45px;
    }

    .home .description .link{
        margin: 0;
        position: absolute;
    }

    .home .circular-text svg{
        max-width: 22vh;
    }

    .home .circular-text .icon{
        display: none;
    }
}

@media (max-width: 767px){
    .Navbar .logo{
        margin: 0;
    }
    
    .Navbar .logo img{
        width: 120px;
    }

    .Navbar .menu-container .popup-links a{
        font-size: 25px;
    }

    .Navbar .menu-container .popup-links .hover-text .material-symbols-outlined{
        font-size: 20px;
    }
    
    .home .description{
        padding: 0;
    }
    
    .sidebar{
        display: none;
    }

    
.home .description .link{
    width: 120px;
    height: 120px;
    padding: 25px;
}

.home .description .link h1 {
    font-size: 13px;
}
}

@media (max-width: 480px){
    .Navbar .logo img{
        width: 100px;
    }

    .Navbar .menu-container .popup-text{
        font-size: 11px;
        padding-top: 20px;
    }

    .Navbar .menu-container {
        gap: 10px;
    }
    

    .Navbar .menu-container img{
        width: 45px;
    }

    .Navbar .menu-container .close-btn{
        margin: 0;
        float: none;
        text-align: center;
        font-size: 11px;
    }

    .Navbar .menu-container .popup-links .hover-text{
        display: block;
    }

    .Navbar .menu-container .popup-links a{
        font-size: 17px;
        margin: 0;
    }

    .Navbar .menu-container .popup-links .hover-text .material-symbols-outlined{
        font-size: 15px;
    }

    .home .description .text h1:nth-child(1){
        font-size: 25px;
    }
    
    .home .description .text h1:nth-child(2){
        font-size: 25px;
    }
    
    .home .description .text h1:nth-child(3){
        font-size: 25px;
    }
    
    .home .description .text h1:nth-child(3) span{
        font-size: 25px;
    }
    
    .home .description .text p{
        font-size: 13px;
    }

    .home .circular-text{
        justify-content: right;
    }

    
.home .circular-text .icon{
    justify-content: right;
    margin-right: 35px;
}

    .home .circular-text svg{
        max-width: 17vh;
    }
}
/* ======= End Home ====== */

main{
    padding: 0 150px;
}

@media (max-width: 767px){
    main{
        padding: 0 20px;
        transition: all 3s;
    }
}

/* ======= Services ====== */
.services-container{
    padding-top: 130px;
}
.services{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.services .text-description .header{
    color: #fff;
}



.services .text-description p{
    color: #646464;
    font-weight: bolder;
    letter-spacing: 1px;
    transition: all 3s;

}

.services .text-description p span{
    color: orangered;
}

.services .image-container .image1, .image2{
    width: 240px;
    border-radius: 20px;
}

@media (max-width: 940px){
    .services{
        display: block;
        gap: 0px;
        transition: all 3s;
    }

    .services .image-container{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .services .image-container .image1, .image2{
        width: 100%;
    }
}

@media (max-width: 480px){
    .services .text-description .header{
        font-size: 25px;
    }
    
    .services .text-description p{
        font-size: 13px;
    }
}
/* ======= End Services ====== */

/* ======= Banner ====== */
.banner-container{
    padding-top: 130px;
    position: relative;
    overflow: hidden;
}

.banner-container .banner{
    width: 100%;
    height: 70vh;
    display: grid;
    align-items: center;
    border-radius: 20px;
    background-color: #C71585;
}

.gradient {
    height: 100%;
    background-image: linear-gradient(45deg,#ffffff, #FF1493, #0f0f0f, #4B0082, #0f0f0f, #C71585, #8a09aa);
    background-size: 300% 300%;
    animation: gradientShift 10s  infinite;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.banner-container .banner .text{
    text-align: center;
    padding: 0 20px;
}

.banner-container .banner .text h1{
    font-weight: 500;
    color: #ffffff;
    transition: all 3s;
}

.banner-container .banner .link-container{
    display: grid;
    justify-content: center;
}

.banner-container .banner .link{
    background-color: #8400ff;
    text-decoration: none;
    text-align: center;
    width: 150px;
    padding: 34px;
    border-radius: 100px;
    border: 2px solid transparent;
    transition: all 1000ms ease-in-out;
}

.banner-container .banner .link h1{
    font-weight: bolder;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 1px;
    transition: all 3s;
}

.banner-container .banner .link:hover {
    border: 2px solid orangered;
    transform: rotate(80deg);
    background-color: #0f0f0f;
}

@media (max-width: 767px){
    .banner-container .banner .text h1{
        font-size: 25px;
    }

    .banner-container .banner .link{
        width: 120px;
        height: 120px;
        padding: 25px;
    }
    
    .banner-container .banner .link h1 {
        font-size: 13px;
    }
}

@media (max-width: 480px){

}
/* ======= End Banner ====== */

/* ======= Video ====== */
.video-container {
    padding-top: 130px;
    display: flex;
    align-items: center;
    gap: 50px;
}

video {
    width: 30%;
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
}

.video-container .text p{
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.5px;
    transition: all 3s;
}

.text .circular-text{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.text .circular-text text {
    fill: white;
    font-size: 33px;
    font-weight: bolder;
    text-transform: uppercase;
    font-variant-ligatures: none;
    letter-spacing: 6px;
    animation: rotate 25s linear infinite;
    transform-origin: 250px 250px;
    transition: all 3s;
}

.text .circular-text .icon{
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.text .circular-text .material-symbols-outlined{
    font-size: 20px;
    font-weight: bold;
    color: orangered;
    border: 1px solid #a8a8a8;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
}

.text .circular-text svg{
    max-width: 28vh;
}

@keyframes rotate {
    to {
    transform: rotate(1360deg);
    }
}

.textcircle {
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
    transform-origin: 250px 250px;
}

.text .circular-text :hover .textcircle {
    transform: scale(1.2) rotate(90deg);
}

@media (max-width: 940px){
    .video-container{
        display: block;
        gap: 0px;
    }

    video {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .text .circular-text .icon{
        display: none;
    }
}

@media ( max-width: 480px){
    .text .circular-text svg{
        max-width: 17vh;
    }

    .video-container .text p{
        font-size: 13px;
    }
}
/* ======= End Video ====== */

/* ======= Collecttion ====== */
.collection-container{
    padding-top: 130px;
}

.collection-container .title{
    text-align: center;
    font-weight: bolder;
    color: #fff;
}

.collection{
    display: flex;
    gap: 20px;
    padding: 0 0px;
    justify-content: space-between;
}

.collection .items-container .item{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.collection .items-container:nth-last-child(1) .item{
    align-items: flex-start;
}

.collection .items-container:nth-last-child(1) .item .text{
    margin-left: -10em;
}

.collection .items-container:nth-child(1) .item:nth-last-child(1) .text{
    margin-top: 5em;
}

.collection .items-container .item .text{
    background: rgba(0, 0, 0, 0.377);
    position: absolute;
    padding: 10px;
    width: 300px;
    margin-left: 10em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    border: 2px solid rgb(184, 50, 1);
}

.collection .items-container .item .text p{
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    transition: all 3s;
}

.collection .items-container .item img{
    width: 300px;
    border-radius: 20px;
}

@media (max-width: 940px){
    .collection .items-container .item .text{
    width: 300px;
    margin-left: 3em;
}

.collection .items-container .item .text p{
    font-size: 12px;
}

    .collection .items-container .item img{
    width: 200px;
}
}

@media (max-width: 480px){
    .collection .items-container .item .text{
    width: 200px;
    margin-left: 1em;
}

.collection .items-container:nth-child(1) .item .text{
    margin-top: 33px;
}

.collection .items-container:nth-last-child(1) .item .text{
    margin-left: -8em;
}

.collection .items-container .item .text p{
    font-size: 7px;
}

    .collection .items-container .item img{
    width: 100px;
}
}
/* ======= End Collection ====== */

/* ======= Footer ====== */
footer{
    background-color: #000000;
    margin-top: 130px;
    padding: 80px 150px;
    border-top-left-radius: 50rem;
    border-top-right-radius: 50rem;
}

footer .link-container{
    display: grid;
    justify-content: center;
}

footer .link-container .link{
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    width: 150px;
    padding: 34px;
    border-radius: 100px;
    border: 2px solid transparent;
    transition: all 1000ms ease-in-out;
}

footer .link-container .link h1{
    font-weight: bolder;
    font-size: 15px;
    color: #000000;
    letter-spacing: 1px;
    transition: all 3s;
}

footer .link-container .link:hover {
    border: 2px solid #fff;
    transform: rotate(80deg);
    background-color: orangered;
}

footer .text-description h1{
    color: #fff;
    font-size: 30px;
    transition: all 3s;
}

footer .text-link{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

footer .text-link .links{
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: orangered;
    transition: 3s;
}

footer .text-link .links .material-symbols-outlined{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

footer .text-link .links span{
    color: orange;
}

footer .copyright{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

footer .copyright p{
    font-weight: 600;
    color: #3a3a3a;
}

footer .copyright .link{
    display: flex;
    gap: 30px;
}

footer .copyright .link a{
    text-decoration: none;
    font-weight: 600;
    color: #3a3a3a;
}

@media (max-width: 767px){
    footer{
        padding: 80px 60px;
    }

    footer .link-container .link{
        width: 120px;
        height: 120px;
        padding: 25px;
    }

    footer .link-container .link h1{
    font-size: 13px;
    }

    footer .text-description h1{
    font-size: 25px;
    }

    footer .text-link .links{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: orangered;
    transition: all 4s ease-in-out;
    }
}

@media (max-width: 480px){
    footer{
        padding: 80px 20px;
    }

    footer .text-description h1{
    font-size: 20px;
    }

    footer .text-link .links{
    font-size: 13px;
    }

    footer .text-link .links .material-symbols-outlined{
    font-size: 20px;
    }

    footer .copyright{
    font-size: 13px;
    }
}

@media (max-width: 280px){
    footer{
        padding: 80px 10px;
    }

    footer .text-description h1{
    font-size: 15px;
    }

    footer .text-link .links{
    font-size: 11px;
    }
}
/* ======= End Footer ====== */