*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }
    
    body{
      text-decoration: none;
    }
    
    /* ====== header ====== */
    header{
      background-color: rgb(255, 245, 241);
      padding-left: 80px;
      border-bottom: 1px solid orangered;
      padding-top: 20px;
    }
    
    .header-text h2{
      color: orangered;
      font-size: 20px;
      font-weight: 600;
    }
    
    .header-text P{
      font-weight: 500;
      color: gray;
    }
    
    @media screen and (max-width: 991px){
      header{
        padding: 20px;
      }
    
      .header-text h2, p{
        font-size: 14px;
      }
    }
    
    @media screen and (max-width: 778px){
      .header-text h2, p{
        font-size: 13px;
      }
    }
    
    @media screen and (max-width: 444px){
      .header-text h2, p{
        font-size: 11px;
      }
    }
    /* ====== End header ====== */
    
/* ====== First Nav ====== */
.nav{
  background-color: orangered;
  width: 65%;
}

.nav .navbar-nav{
  margin-left: 4.3em;
}

.nav .nav-item{
  font-size: 15px;
  font-weight: 600;
}

.nav .navbar-nav .nationality{
  background-color: #f8f8f8;
  border-radius: 30px;
  width: 50px;
  height: 23px;
  margin-right: 15px;
  margin-top: 9px;
}

.nav .navbar-nav .nationality #navbarDropdown{
  margin-top: -10px;
}

.nav .navbar-nav .nationality a img{
  width: 17px;
  height: 17px;
  margin-right: 1px;
  border-radius: 50px;
}

.nav .navbar-nav .nationality .dropdown-menu{
  margin-top: -10em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0px;
  padding: 40px;
  height: 94vh;
}

.nav .navbar-nav .dropdown-menu {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1.3s ease-in-out, max-height 1.3s ease;
}

.nav .navbar-nav .dropdown-menu.expanded {
  max-height: 1000px;
  opacity: 1;
}

.nav .navbar-nav .nationality .dropdown-menu li a{
  line-height: 40px;
  font-weight: 600;
  font-size: 13px;
  color: gray;
}

.nav .navbar-nav .nationality .dropdown-menu li a img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50px;
}

.nav .nav-item{
  margin-right: 15px;
}

.nav .nav-item .dropdown-menu{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0px;
}

.nav .nav-item .dropdown-menu .dropdown-item{
  font-weight: 600;
  color: gray;
  transition: all 1000ms ease-in-out;
}

.nav .nav-item .dropdown-menu .dropdown-item .fa{
  margin-right: 10px;
}

.nav #search-toggle{
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 8px;
}

.popup-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  padding-top: 7em;
}

.search-box{
  width: 50%;
  position: relative;
  margin: 10em;
}

.input-search{
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  color:#fff;
  width: 100%;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
}

.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: orangered;
  background-color:transparent;
  pointer-events: painted;  
}


.nav .log-in{
  background-color: sienna;
  width: 35%;
  height: 56.5px;
  text-align: center;
  padding-top: 13px;
  margin-left: 39em;
  margin-top: -1px;
  position: absolute;
  transform: skewX(-19deg);
  transition: all 1000ms ease-in-out;
}

.nav .log-in:hover{
  background-color: rgb(122, 63, 36);
}

.nav .log-in a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.nav .log-in a .fa-lock{
  margin-right: 20px;
}

.nav .log-in a .fa-arrow-circle-right{
  margin-left: 3px;
  transition: all 1000ms ease-in-out;
}

.nav .log-in a:hover .fa-arrow-circle-right{
  margin-left: 9px;
}

.nav #popup-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(160%, 10%);
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav #popup-container .content {
  display: flex;
  margin: 30px;
}

.nav #popup-container .content h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 12px;
  height: 5vh;
  border-bottom: 2px solid orangered;
}

.nav #popup-container .content h2:hover{
  border-bottom: 2px solid orangered;
}

.nav #popup-container .content h2 a{
  color: gray;
  text-decoration: none;
  transition: all 1000ms ease-in-out;
}

.nav #popup-container .content h2 a:hover{
  color: orangered;
}

.nav #popup-container .container{
  background-color: #dfdfdf;
  width: 100%;
  height: 9em;
  margin-top: -42px;
}

.nav #login-button {
  padding: 10px 90px;
  background-color: orangered;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 1000ms ease-in-out;
}

.nav #login-button:hover {
  background-color: sienna;
}

.nav #popup-container .container .link{
  display: flex;
  margin: 30px;
}

.nav #popup-container .container .link p{
  font-size: 16px;
  margin: 12px;
  height: 5vh;
}

.nav #popup-container .container .link p a{
  color: gray;
  text-decoration: none;
}

@media (max-width: 991px){
  .nav{
    height: 8.8vh;
    width: 67%;
  }

  .nav .navbar-nav{
    margin: 0;
  }
    
  .nav #popup-container {
    transform: translate(95%, 10%);
  }
  
  .nav .log-in{
    width: 30%;
    margin-left: 30em;
    height: 55.6px;
  }

  .nav .log-in a span{
    display: none;
  }
}

@media (max-width: 767px){
  body .nav{
    display: none;
  }
}
/* ====== End First Nav ====== */

/* ====== Second Nav ====== */
.nav1{
  margin-top: 1em;
  background-color: transparent;
}

.nav1 #search-toggle1, #search-container1{
  display: none;
}

.nav1 .log-in{
  display: none;
}

.nav1 #popup-container1{
  display: none;
}

.nav1 .fa-home{
  margin-right: -5em;
  margin-left: 74px;
  color: gray;
  transition: all 1000ms ease;
}

.nav1 .fa-home:hover{
  color: orangered;
}

.nav1 .navbar-nav .nationality{
  background-color: #f8f8f8;
  border-radius: 30px;
  width: 50px;
  height: 23px;
  margin-right: 15px;
  margin-top: 9px;
  display: none;
}

.nav1 .navbar-nav .nationality #navbarDropdown{
  margin-top: -10px;
}

.nav1 .navbar-nav .nationality a img{
  width: 17px;
  height: 17px;
  margin-right: 1px;
  border-radius: 50px;
}

.nav1 .navbar-nav .nationality .dropdown-menu{
  margin-top: -10em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0px;
  padding: 40px;
  height: 94vh;
}

.nav1 .navbar-nav .dropdown-menu {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 1.3s ease-in-out, max-height 1.3s ease;
}

.nav1 .navbar-nav .dropdown-menu.expanded {
  max-height: 1000px;
  opacity: 1;
}

.nav1 .navbar-nav .nationality .dropdown-menu li a{
  line-height: 40px;
  font-weight: 600;
  font-size: 13px;
  color: gray;
}

.nav1 .navbar-nav .nationality .dropdown-menu li a img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 50px;
}

.nav1 .navbar-nav{
  margin-left: 6em;
}

.nav1 .navbar-nav .nav-item a{
  font-weight: 600;
  font-size: 15px;
  transition: all 2000ms ease;
}

.nav1 .navbar-nav .nav-item a:hover{
  border-bottom: 2px solid orangered;
  color: orangered;
  transition-duration: 1s;
}

.nav1 .navbar-nav .dropdown-menu{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0px;
  padding: 30px;
}

.nav1 .navbar-nav .dropdown-menu .dropdown-item{
  padding: 20px;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.nav1 .Gtlogo{
  width: 7%;
  margin-top: -4em;
  margin-right: 4em;
}
.nav1 .log-in{
  display: none;
}

@media (max-width: 991px){
  .nav1 .navbar-nav{
    margin: 0;
  }
  
  .nav1 .fa-home{
  margin-right: 1em;
  margin-left: 7px;
  color: gray;
}
}

@media (max-width: 767px){
  .nav1{
    background-color: rgb(238, 238, 238);
    margin-top: -0px;
  }

  .nav1 .navbar-collapse{
    background-color: #fff;
    margin-top: 10px;
  }

  .nav1 .navbar-collapse a .fa-home{
    margin-left: 18px;
    margin-top: 10px;
  }

  .nav1 .Gtlogo{
  display: none;
  }

  .nav1 .navbar-nav .nav-item{
  padding: 20px;
  border-bottom: 1px solid rgb(228, 228, 228);
  }

  .nav1 #search-toggle1{
    background-color: transparent;
    border: none;
    color: #000000;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 50px;
    border: 1px solid #969696;
  }

  .popup-background {
    padding-top: 15em;
  }

  .nav1 .search-box{
    width: 70%;
    margin: 5em;
  }

.nav1 .log-in{
  background-color: orangered;
  width: 30%;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  margin-top: -1px;
  position: sticky;
  border-radius: 50px;
  display: block;
  transition: all 1000ms ease-in-out;
}

.nav1 .log-in:hover{
  background-color: rgb(139, 72, 40);
}

.nav1 .log-in a{
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.nav1 .log-in a .fa-lock{
  margin-right: 3px;
}

.nav1 #popup-container1 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(160%, 10%);
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: -32em;
}

.nav1 #popup-container1 .content {
  display: flex;
  margin: 30px;
}

.nav1 #popup-container1 .content h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 12px;
  height: 5vh;
  transition: all 1000ms ease-in-out;
}

.nav1 #popup-container1 .content h2:hover{
  border-bottom: 2px solid orangered;
}

.nav1 #popup-container1 .content h2 a{
  color: gray;
  text-decoration: none;
  transition: all 1000ms ease-in-out;
}

.nav1 #popup-container1 .content h2 a:hover{
  color: orangered;
}

.nav1 #popup-container1 .container{
  background-color: #dfdfdf;
  width: 100%;
  height: 9em;
  margin-top: -42px;
}

.nav1 #login-button1 {
  padding: 10px 90px;
  background-color: orangered;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 1000ms ease-in-out;
}

.nav1 #login-button1:hover{
  background-color: sienna;
}

.nav1 #popup-container1 .container .link{
  display: flex;
  margin: 30px;
}

.nav1 #popup-container1 .container .link p{
  font-size: 16px;
  margin: 12px;
  height: 5vh;
}

.nav1 #popup-container1 .container .link p a{
  color: gray;
  text-decoration: none;
}

.nav1 .navbar-nav .nationality{
  width: 60px;
  margin-left: 4em;
  margin-top: -30px;
  display: inline-block;
  z-index: 1;
  position: absolute;
}

.nav1 .navbar-nav .nationality #navbarDropdown{
  margin-top: -20px;
}

.nav1 .navbar-nav .nationality .dropdown-menu{
  margin-top: -0em;
  padding: 0px;
  height: 118vh;
}

.nav1 .navbar-nav .nationality .dropdown-menu li a{
  line-height: 20px;
}
}

@media (max-width: 480px){
  .nav1 .search-box{
    width: 77%;
    margin: 2em;
  }
}
/* ====== End Second Nav ====== */

    /* ====== Title ====== */
    .title-container{
        padding-left: 70px;
        width: 100%;
        background-color: #f7f7f7;
    }

    .title-container .title{
        padding: 20px;
    }

    .title-container .title .text-description{
        display: flex;
        column-gap: 10px;
        font-size: 14px;
    }

    .title-container .title .text-description a{
      text-decoration: none;
      color: #333;
    }

    .title-container .title .text-description .fa{
        margin-top: 5px;
        color: #b8b7b7;
    }

    .title-container .title .text-description .header-text{
        color: #8f8f8f;
    }

    @media (max-width: 991px){
      .title-container{
        padding: 0;
    }
    }

    @media (max-width: 480px){
      .title-container .title h2{
        font-size: 20px;
    }
    }
    /* ====== End Title ====== */

    /* ====== media ====== */
    .media-container{
      background-color: #f7f7f7;
      padding: 90px;
    }

    .media-container .description{
      display: none;
    }

    .media-container .image-container{
      width: 100%;
      height: 350px;
      background: url('../media/home.jpg') center/cover no-repeat;
      margin-top: -90px;
      padding: 40px;
    }

    .media-container .container{
      background-color: rgba(250, 250, 250, 0.7);
      padding: 40px;
      width: 470px;
      height: 270px;
      float: left;
    }

    .media-container .container h2{
      font-size: 40px;
      color: #646464;
    }

    .media-container .container p:nth-child(2){
      font-size: 20px;
      color: rgb(233, 89, 37);
    }

    .media-container .container p{
      font-size: 18px;
      color: #6b6b6b;
      font-weight: 500;
    }

    @media (max-width: 991px){
      .media-container{
        padding: 20px;
      }

      .media-container .image-container{
        margin-top: -20px;
      }
    }
    
    @media (max-width: 767px){
      .media-container .image-container{
        width: 100%;
        height: 25vh;
      }

      .media-container .image-container .container{
        display: none;
      }

      .media-container .description{
        display: block;
        margin-top: 20px;
        padding: 10px;
        background-color: #f7f7f7;
        background-image: linear-gradient(to bottom, #f7f7f7, #fff);
      }
  
      .media-container .description h2{
        color: #646464;
      }
  
      .media-container .description p:nth-child(2){
        color: orangered;
      }
  
      .media-container .description p{
        font-size: 15px;
        color: #6b6b6b;
        font-weight: 500;
      }
    }
    /* ====== End media ====== */

    /* ====== Seach Bar ====== */
    .search-container{
      padding: 20px;
    }

    .search-input{
      display: flex;
      margin: 30px 0;
      justify-content: center;
    }

    .search-container .search .form-element{
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      border-radius: 10px;
      border: 1px solid #dfdfdf;
      display: block;
      padding: 25px 30em;
      background-color: transparent;
      -webkit-transition: 0.4s;
      transition: 0.4s
    }

    .search-container .search{
      margin-top: 20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: right;
    }

    .search-container .search input[placeholder="I need help with..."]{
      color: #8f8f8f;
      font-weight: 500;
      padding-left: 30px;
    }

    .search-container .search .fa{
      position: absolute;
      margin-right: 16px;
      color: #8f8f8f;
      background-color: transparent;
      padding: 10px 14px;
      font-size: 22px;
    }

    @media (max-width: 991px){
      .search-container .search .form-element{
        padding: 20px 20em;
      }
    }

    @media (max-width: 767px){
      .search-container .search .form-element{
        padding: 20px 13em;
      }
    }

    @media (max-width: 596px){
      .search-container .search .form-element{
        padding: 10px 3em;
      }

      .search-container .search input[placeholder="I need help with..."]{
        font-size: 14px;
      }
  
      .search-container .search .fa{
        font-size: 16px;
      }

    }
    /* ====== End Search Bar ====== */

    /* ====== Options ====== */
    .option-container{
      padding: 0 90px;
    }

    .option{
      display: flex;
      justify-content: center;
    }

    .option .items-container{
      text-align: center;
      padding-top: 60px;
      border: 1px solid #dfdfdf;
      cursor: pointer;
      position: relative;
    }

    .option .items-container .fa{
      font-size: 40px;
      color: #8f8f8f;
      transition: all 1000ms ease-in-out;
    }

    .option .items-container.active .fa{
      color: orangered;
    }

    .option .items-container p{
      color: #8f8f8f;
      font-weight: 400;
      margin-top: 10px;
    }

    .option .container{
      transition: all 1000ms ease-in-out;
    }

    .option .container.active{
      background-color: #f7f7f7;
      border: 1px solid orangered;
    }

    .option .container .pyramid {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-bottom: 30px solid orangered;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 1000ms ease-in-out, transform 0.3s ease;    
    }
    

    .option .container.active .pyramid {
      opacity: 1;
      transform: translateX(-50%) rotate(180deg);
      transition: all 1000ms ease-in-out;
    }

    @media (max-width: 991px){
      .option-container{
        padding: 0 20px;
      }
    }

    @media (max-width: 767px){
      .option .items-container .fa{
      font-size: 30px;
    }
    }

    @media (max-width: 480px){
      .option .items-container{
        width: 21%;
        padding-top: 10px;
      }

      .option .items-container p{
        font-size: 8px;
        margin-top: 5px;
      }
  
    .option .container .pyramid {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid orangered;
      bottom: -10px;
    }

    .option .items-container .fa{
      font-size: 15px;
    }
    }
    /* ====== End Options ====== */

    /* ====== Information ====== */
    .info-container{
      display: none;
    }

    .info-container .title{
      background-color: #f7f7f7;
      margin: 50px 0;
      text-align: center;
      padding: 20px;
      color: #646464;
    }

    .info-container .btn-container{
      margin-top: 30px;
    }

    .info-container .btn-container .button{
      background-color: #646464;
      padding: 8px 24px;
      color: #ffffff;
      text-decoration: none;
    }

    .info-container .btn-container .button:nth-child(2){
      background-color: transparent;
      color: #646464;
      border: 1px solid #646464;
    }

    .info{
      margin: 0 90px;
      column-gap: 30px;
      display: flex;
      justify-content: center;
    }

    .info .items-container .item{
      border-top: 1px solid #dfdfdf;
      cursor: pointer;
    }

    .info .items-container .item p{
      margin-top: 12px;
      font-weight: 500;
      color: #333;
    }
    
    .info .items-container .item p .fa{
      float: right;
      color: #b8b7b7;
      margin-top: 8px;
      margin-left: 20px;
    }
    
    .info .dropdown{
      position: relative;
    }

    .info .dropdown-content {
      background-color: #fff;
      padding: 0px 24px;
      z-index: 1;
      color: #6b6b6b;
      border-left: 1px solid #dfdfdf;
      max-height: 0;
      overflow: hidden;
      transition: all 1000ms ease-in-out;
      display: block;
    }

    .dropbtn i.fa-minus {
      transform: rotate(-90deg);
      transition: all 1000ms ease-in-out;
    }
    
    .dropbtn i.fa-plus {
      transform: rotate(0deg);
      transition: all 1000ms ease-in-out;
    }
    
    .dropbtn.active i.fa-minus {
      transform: rotate(0deg);
    }
    
    .dropbtn.active i.fa-plus {
      transform: rotate(-90deg);
    }
    

    .info .dropdown-content ul li a{
      color: orangered;
      font-weight: 500;
      text-decoration: none;
      font-size: 14px;
    }

    .info .dropdown-content ul li a .fa{
      font-size: 10px;
    }
    
    .show {
      display: block;
    }

    
    @media (max-width: 991px){
      .info{
        margin: 0 20px;
      }  
    }

    @media (max-width: 767px){
      .info{
        display: block;
      } 
      
      .info .dropdown-content{
        width: 100%;
      }
    }

    @media (max-width: 480px){
      .info-container .title h3{
        font-size: 18px;
      }
      .info-container .title{
        font-size: 10px;
      }
    }

    /* ====== Form ====== */
    .forms{
      margin: 0 270px;
      background-color: #f7f7f7;
      padding: 1px;
    }

    .forms .btn-container{
      margin: 10px 30px;
    }

    .forms .btn-container p{
      font-weight: 500;
      font-size: 14px;
    }

    .forms .btn-container  .btn{
      background-color: #fff;
      margin-bottom: 7px;
      border-radius: 0px;
      margin-right: 5px;
      border: 1px solid #dfdfdf;
      transition: all 1000ms ease-in-out;
    }

    .forms .btn-container  .btn:hover{
      background-color: #fff;
      border: 1px solid orangered;
    }

    .forms .btn-container  .btn.active{
      background-color: #fff;
      border: 1px solid orangered;
    }
    
    .forms .btn-container  .btn p{
      font-size: 13px;
      font-weight: 400;
      color: #6b6b6b;
      margin: 2px;
      transition: all 1000ms ease-in-out;
    }
    
    .forms .btn-container  .btn p:hover{
      color: orangered;
    }

    .forms .btn-container  .btn.active p{
      color: orangered;
    }

    .Pdf-container .Pdf{
      display: none;
    }

    .Pdf-container .Pdf{
      margin: 50px 270px;
    }

    .Pdf-container .Pdf .items{
      border: 1px solid #dfdfdf;
      display: flex;
      padding: 10px 30px;
      text-decoration: none;
      position: relative;
      margin-bottom: 20px;
      transition: all 1000ms ease-in-out;
    }

    .Pdf-container .Pdf .items:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .Pdf-container .Pdf .items p{
      margin-bottom: 6px;
      width: 100%;
      color: #6b6b6b;
    }

    .Pdf-container .Pdf .items .fa-file-pdf{
      margin-top: 3px;
      font-size: 25px;
      margin-right: 27px;
      color: orangered;
    }

    .Pdf-container .Pdf .items .fa-download{
      margin-top: 4px;
      float: right;
      display: none;
    }

    .Pdf-container .Pdf .items:hover .fa-download{
      display: block;
    }

    @media (max-width: 991px){
      .forms{
      margin: 0 20px;
    }

    .Pdf-container .Pdf{
      margin: 50px 20px;
    }
    }
    /* ====== End Form ====== */

    /* ====== End Information ====== */

    /* ====== Banner ====== */
    .banner-container{
      padding: 50px 100px;
    }

    .banner-container .banner{
      border: 1px solid #dfdfdf;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 25px 20px;
      font-weight: 500;
      gap: 10px;
    }

    .banner-container .banner .text h4{
      color: #333;
    }

    .banner-container .banner .text p{
      color: #6b6b6b;
    }

    .banner-container .btn{
      background-color: orangered;
      display: flex;
      gap: 10px;
      border-radius: 0px;
      border: none;
      color: #fff;
      padding: 0px 22px;
      height: 41px;
      margin-top: 20px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      transition: all 1000ms ease-in-out;
    }

    .banner-container .btn:hover{
      background-color: orangered;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    .banner-container .btn a{
      text-decoration: none;
      color: #fff;
      margin-top: 7px;
      font-weight: 500;
      font-size: 14px;
    }

    .banner-container .btn .fa{
      margin-top: 12px;
      font-size: 14px;
    }

    @media (max-width: 991px){
      .banner-container{
        padding: 20px;
      }
    }
    /* ====== End Banner ====== */

    /* ====== HelpIcon ======= */
.icon-container{
  padding: 60px;
  width: 100%;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #fff, #f7f7f7);
}

.icons-items{
  display: flex;
}

.icons{
  display: flex;
  width: 100%;
}

.icons .item-container{
  text-align: center;
  padding: 0px;
  width: 100%;
}

.icons .item-container a{
    text-decoration: none;
}

.icons .item-container i{
  background-color: #dfdfdf;
  color: #969696;
  padding: 15px;
  font-size: 25px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 1000ms ease-in-out;
}

.icons .item-container i:hover{
  background-color: orangered;
  color: #333;
}

.icons .item-container h2{
  font-size: 15px;
  margin-top: 10px;
  color: #333;
}

@media (max-width: 1047px){
  .icons{
    display: block;
  }
}

/* @media (max-width: 767px){
  .icon-container{
    margin-top: 16em;
  }
} */

@media (max-width: 480px){
  .icon-container{
    padding: 20px;
  }
}
/* ====== End HelpIcon ======= */

/* ====== Footer ======= */
.footer{
  padding: 60px;
}

.footer-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-link{
  margin-left: 11px;
}

.footer-menu li {
  position: relative;
  margin: 0 12px;
  text-decoration: none;
}

.footer-menu li a{
  font-weight: 600;
}

.footer-menu a {
  color: #333;
  text-decoration: none;
}

.footer-menu .dropdown {
  top: 0%;
  left: 0;
  min-width: 140px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 2em;
}

.footer-menu .dropdown li{
  margin-top: 10px;
}

.footer-menu .dropdown li a{
  font-size: 13px;
  color: #969696;
  font-weight: 500;
  transition: all 1000ms ease-in-out;
}

.footer-menu .dropdown li a:hover{
  color: orangered;
}

@media (max-width: 1047px){
  .footer{
    padding: 0;
    margin-top: 30px;
  }
}


.contact-container{
  padding: 60px;
  position: relative;
}

.contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #dfdfdf;
  padding-top: 40px;
  margin-top: -40px;
}

.contact .img-container{
  min-height: 5em;
  margin-top: -30px;
  padding-top: 10px;
  margin-right: 5px;
}

.contact .img-container img{
  width: 140px; 
  height: 70px;
}

.number p{
  font-size: 13px;
  font-weight: 600;
  margin-top: 20px;
  margin-right: 30px;
}

@media (max-width: 1047px) {
  .contact-container{
    padding: 20px;
  }
}

.copyright-container{
  background-color: #333;
}

.copyright{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 60px;
}

.copyright .text{
  font-size: 13px;
  color: #dfdfdf;
  font-weight: 600;
  padding-top: 32px;
}

.copyright .text p{
  padding-right: 30px;  
}

.copyright .text a{
  text-decoration: none;
  color: #dfdfdf;
  padding-right: 10px;
  transition: all 1000ms ease-in-out;
}

.copyright .text a:hover{
  color: chocolate;
}

.social-media {
  display: flex;
  padding: 10px;
}

.social-media a {
  margin: 0 10px;
  background-color: #969696;
  padding: 20px 10px;
  border-radius: 30px;
  transition: all 1000ms ease-in-out;
}

.social-media a:hover{
  background-color: orangered;
  
}

.social-media .fab{
  color: #333;
}

@media (max-width: 1107px){
  .copyright .text{
    height: 60px;
  }
}

@media (max-width: 1047px) {
  .copyright{
    margin: 0 20px;
  }
}

@media (max-width: 480px) {
  .social-media{
    margin-top: 10px;
  }
}
/* ====== End Footer ======= */

  
